#game-menu {
  width: 40%;
  height:100%;
}

#disconnect-game-btn {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #664848;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',
  sans-serif;
  font-weight:300;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
}

#disconnect-game-btn:hover {
 color:#000000;
 background-color:#FFFFFF;
}